{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Bienvenue sur le générateur de questionnaire</h1>
        <div class="jumbotron">
            <p>
                Pour commencer, cliquer sur "Générer un questionnaire".
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Phasellus volutpat metus non ante tempor luctus tempor ut est. 
                Vestibulum bibendum tellus sit amet egestas lobortis. 
                Nunc dolor ligula, dictum a tortor quis, fringilla porta lorem. 
            </p>
        </div>
    </div>
{% endblock %}