{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Générer un questionnaire</h1>
        <div class="jumbotron">
            <p>Paramétrage du questionnaire à générer.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Phasellus volutpat metus non ante tempor luctus tempor ut est. 
                Vestibulum bibendum tellus sit amet egestas lobortis. 
                Nunc dolor ligula, dictum a tortor quis, fringilla porta lorem. 
            </p>
        </div>
    </div>
    <div>
        <form>
            
        </form>
    </div>
{% endblock %}